.card-container-contracts {
  min-height: 400px;
  height: calc(100vh - 178px);
  max-height: 1000px;
}

.error-image-container {
  margin-top: 4%;
  text-align: center;
}

.table-container {
  height: 100%;
}
